<%= simple_form_for(@article, :html => {:multipart => true}) do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  
  <%= f.input :author_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :tag_list %>
  <%= render :partial => 'attachment', :collection => @article.attachments %>
  <%= f.input :image, :as => :file, :label => 'Attach a New File' %>
  <%= f.button :submit %>
<% end %>
